# Auto detect text files and perform LF normalization
* text=auto

# Stata-specific normalizations. Text ones should be auto
#*.do text
#*.ado text
#*.mata text
#*.hlp text
#*.sthlp text
#*.pkg text
#*.toc text
#*.trk text
*.mlib binary
*.dta binary
*.gph binary
